body {
    font-family:'Times New Roman', Times, serif;
    background-color: #031770;
    margin: 25px;
    color:#fff000;
}

body p{
    color:#fff000;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-size:20px;
}

body a{
    color:#ffffff;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    color:#fff000;
    margin-top: 15px;
    margin-bottom: 40px;
}

h2 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    color: #fff000;
    margin-bottom: 15px;
}

.active {
    color: #031770;
    background-color: #fff000;
    text-transform: uppercase;
}

.active a {
    color: #031770;
}

nav ul li{
    background-color: #031770;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 25%;
    border: 5px solid #fff000;
    display: inline-block;
    width: 17%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a {
    font-family: 'Times New Roman', Times, serif;
    color:#fff000;
}

figure img {
    display: block;
    width: 300px;
    margin: auto;
    border: 5px solid #fff000;
    padding: 10px;
}

ul img {
    display: block;
    width: 300px;
    margin: auto;
    padding: 25px;
}


ul li {
    text-align: center;
}

figure figcaption {
    text-align: center;
}
.team-photo{
    display: flex;
    justify-content: center;
    height: 225px;
    width:250px;
    margin: auto;
    transition: all 0.5s ease-in-out 0s;
    padding: 5px;
    border: 5px white solid; 

}
.team-photo:hover {
    cursor: default;
    transition: all 0.5s ease-in-out 0s;
    transform:rotate(360deg);
}
.form{
    background-image: url(../images/favicon.gif);
    background-color: blue;
    text-align: center;
}

form{
    text-align: center;
    font-size: 20x;
}